*,
*::after,
*::before{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: #002;
}

header {
  text-align: center;
  text-transform: uppercase;
  padding: 32px;
  background-color: #0a0a23;
  color: #fff;
  border-bottom: 4px solid #fdb347;
}

main{
	width:100%;
	height:100%;
	display:flex;
	margin-top:18px;
	justify-content:center;
}
.div-container{
	max-width:380px;
	min-width:370px;
	height:500px;
	background-color:#fda341;
	border-radius:18px;
	
}
.center-button{
	height:50px;
	width:45px;
	margin-top:2px;
	margin:8px auto;
	background-color:#fff;
	border-radius:45%;
}

.input-div{
	background-color:#fff;
	padding:20px 0;
	display:block;
	width:80%;
	height:80%;
	margin:20px auto;
	border-radius:18px;
	position:relative;
}
input{
	width:50%;
	padding:10px;
	display:block;
	margin:auto;
	font-weight:bold;
}
p{
	text-align:center;
	text-transform:uppercase;
	font-size:20px; 
	font-weight:bold;
	margin-top:20px;
	white-space:wrap;
	}
	
	.cheack{
		position:absolute;
		width:100%;
		height:320px;
		display:flex;
		bottom:10px;
		align-items:flex-end;
		justify-content:space-around;
	}
	button{
		padding:10px;
		font-size:15px;
		font-weight:bold;
		border:3px solid #fda341;
		text-transform:uppercase;
	}
	1 555-555-5555
1 (555) 555-5555
1(555)555-5555
1 555 555 5555
5555555555
555-555-5555
(555)555-5555