*{
  padding:0;
  margin:0;
  font-family: Tahoma;
  box-sizing:border-box;
}
.logo{
  width:60vw;
}
.logo img{
  width:50vw;
  margin-left:20px;
  max-width:300px;
}
#header{
  position:fixed;
  top:0;
  display:flex;
  justify-content:space-between;
  flex-direction:row;
  align-items:center;
  background-color:#eee;
  min-height:75px;
  width:100%;
}
ul{
  display:flex;
  flex-direction:row;
  width:35vw;
  justify-content:space-between;
  align-items:center;
}
li{
  list-style:none;
  font-weight:bold;
}
li a{
  text-decoration:none;
  color:#000;
}
#hero{
  height:200px;
  margin-top:90px;
  display:flex;
  flex-direction:column;
}
#hero h2{
  text-align:center;
}
input[name="email"]{
  display:block;
  margin:17px auto;
  text-align:center;
  padding:10px;
}
input[type="submit"]{
  display:block;
  margin: 0 auto;
  padding: 15px;
  background-color:yellow;
  border:none;
  text-transform:upperCase;
  font-weight:bold;
}
#features{
  margin-top:35px;
}
.grid{
  display:flex;
}
#features .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 20vw;
  color: orangered;
}
.grid .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vw;
  padding: 5px;
}
#pricing{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  margin:60px 0 auto auto;
  padding:6px;
  text-align:center;
  gap:10px;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
}
.product > .level {
  background-color: #ddd;
  color: black;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}

.product > h2 {
  margin-top: 15px;
}

.product > ol {
  margin: 15px 0;
}

.product > ol > li {
  padding: 5px 0;
}

.product > button {
  border: 0;
  margin: 15px 0;
  background-color: #f1c40f;
  font-weight: 400;
}
#how-it-works {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#how-it-works > iframe {
  max-width: 560px;
  width: 100%;
}
footer {
  margin-top: 30px;
  background-color: #ddd;
  padding: 20px;
}

footer  ul {
  display: flex;
  justify-content: flex-end;
}

footer  ul  li {
  padding: 0 10px;
}

footer  span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: #444;
}

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}
@media (max-width: 650px) {
  .logo {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
}
@media (max-width: 650px) {
  .logo > img {
    margin: 0 auto;
  }
}
@media (max-width: 650px) {
  nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }
  nav li {
    padding-bottom: 5px;
  }
}
@media (max-width: 650px) {
  nav > ul {
    flex-direction: column;
  }
}